@media screen and (max-width: 1024px) {
		
	#breadcrumb-horizontal {
		display: none;
	}
	
	#breadcrumb-vertical {
		display: block;
	}
}

@media screen and (min-width: 1024px) {
		
	#breadcrumb-horizontal {
		display: block;
	}
	
	#breadcrumb-vertical {
		display: none;
	}
}