* {
	border-width: 0;
	border-style: solid;

}

html {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
	font-size: 120%;
	font-weight: normal;
	color: #404040;
	line-height: 1.6;
	background-color: #f4f4f4;
}

html {
	position: relative;
	min-height: 100%;
}

nav {
	position: sticky;
	top: 0;
	width: 100%;
	height: 4rem;
	z-index: 9;
	#box-shadow: 0 0.25rem 0.25rem #bbb;
	#margin-bottom: 0.5rem;
	border-bottom: solid 1px rgb(229 231 235);
}

nav .site_logo {
	width: 2.5rem;
	height: 2.5rem;
}

nav .ionicon {
	width: 1.5rem;
	height: 1.5rem;
}

main {
	margin-top: 0rem;
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
	
	//max-width: 70%;
}

footer {
	position: absolute;
	bottom: 0;
	height: 4rem;
	width: 100%;
}

body {
	margin: 0;
}



a {
	color: inherit;
	text-decoration: inherit;
}

#content a {
	color: #0065b3;
}

#content a:hover {
	text-decoration: underline;
}

img {
	vertical-align: middle;
}

#content hr {
	border: solid 1px #e3e3e3;
}

#content blockquote {
	margin: auto;
	padding: 0 0.75rem;
	border-left: 0.25rem solid #e3e3e3;
}

#content pre {
	border: 1px solid #e3e3e3;
	background-color: rgb(250, 249, 248);
	padding: 1rem;
	white-space: pre-wrap;
	word-wrap: break-word;
	line-height: 2;
}

#content code {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
	font-size: 1rem;
}

